.block{
  &__scroll{
    display: flex;
    flex-direction: row;
    .scroll{
      &__row{
        display: flex;
        flex-direction: row;
        padding: 20rpx 0 20rpx 20rpx;
        .row{
          &__poster{
            display: flex;
            flex-direction: row;
            margin-right: 10rpx;
          }
        }
      }
    }
  }
}