.search-form{
  padding: 14rpx;
  background-color: #f1a3c7;
  .form{
    &__input{
      height: 60rpx;
      width: 100%;
      border-radius: 10rpx;
      text-align: center;
      font-size: 24rpx;
      color: #999;
      background-color: #fff;
    }
  }
}
